.root {
	-fx-font-family: "Arial";
    -fx-background-color: white;
}
/*	
.menu .label {
    -fx-text-fill: #f0f0f0;
}

.menu-bar {
    -fx-background-color: #554;
    -fx-padding: 10;
}
*/

.menu:hover {
    -fx-background-color: #555;
}

/* Section des produits */
.label {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-padding: 10 0 10 0;
}

.grid-pane {
    -fx-padding: 10;
    -fx-hgap: 20;
    -fx-vgap: 20;
    -fx-border-color: #ff4500;
}

.grid-pane .vbox:hover {
    -fx-effect: dropshadow(three-pass-box, rgba(255,69,0,0.6), 10, 0, 0, 5);
}

/* Style pour chaque produit dans la grille */
.produit-box { 				/* Vbox */
    -fx-pref-width: 160px;  /* Largeur fixe de la cellule */
    -fx-pref-height: 230px; /* Hauteur fixe de la cellule */
    -fx-alignment: center;  /* Alignement centré */
    -fx-spacing: 2px;       /* Espace entre les éléments internes */
    -fx-border-radius: 5px; /* Bord arrondi */
   	/*-fx-border-color: #696969; 
    -fx-border-width: 1;*/
}

/* Ombre lors du survol de la cellule */
.produit-box:hover {
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.3), 5, 0.5, 0, 5); /* Ombre grise légère */
    -fx-background-color: #f9f9f9; /* Optionnel : légère couleur de fond pour l'effet de survol */
}

/* Style pour le label du nom du produit */
.nom-produit {
	-fx-font-size: 12px;
    -fx-wrap-text: true;    /* Activer le retour à la ligne */
    -fx-max-width: 140px;   /* Largeur maximale pour contrôler le retour à la ligne */
    -fx-text-alignment: center; /* Alignement du texte centré */
}

/* Style pour le label du prix du produit */
.prix-produit {
	-fx-font-size: 12px;
    -fx-wrap-text: true;
    -fx-max-width: 140px;
    -fx-alignment: center;
    -fx-padding: 2px 0 0 0; /* Marge supérieure réduite */
}

/* Style pour le changement de curseur */
.produit-box:hover {
    -fx-cursor: hand;
}

.vbox {
    -fx-alignment: center;
}

.vbox .image-view {
    -fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.2), 10, 0, 0, 5);
    -fx-padding: 10;
}

/* Filtres */
.vbox > .check-box {
    -fx-padding: 5 0 5 0;
    -fx-font-size: 14px;
    -fx-text-fill: #444;
}

.vbox > .check-box:hover {
    -fx-text-fill: #000;
}

/* Filtres de catégories (Homme, Femme, Enfant) */
.vbox .label:nth-child(1) {
    -fx-font-size: 16px;
    -fx-font-weight: bold;
    -fx-padding-bottom: 10;
    -fx-text-fill: #333;
}

.scroll-pane-style {
    -fx-background: white;
    -fx-border-color: #e0e0e0;
}


.button {
    -fx-background-color: #000000;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 16px;
    -fx-padding: 10 20 10 20;
    -fx-cursor: hand;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-cursor: hand;
    
}

.button:hover {
    -fx-background-color: #696969;
}

.text-field {
	-fx-max-width: 300px;
    -fx-pref-height: 50px;
}

.table-cell {
    -fx-alignment: center; /* Centre horizontalement et verticalement */
}

#ordersTable .column-header .label{
    -fx-padding: 2px; /* Espace interne des en-têtes */
    -fx-font-size: 12px;
}


